*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco:#FFFFFF;
    --preto:#121214;;
    --background: #D9D9D9;
    --background2: #FAFAFC;
    --texts-titulos:#32264D;
    --cor-secundaria:#4E4958;
    --cor-terceiaria:#6b6770;

    --cor--button:#04D361;

    --font-titulo:'Archivo', sans-serif;
    --font-conteudo :'Poppins', sans-serif;
}

body, input, button, select, textarea{
    font-family: var(--font-conteudo);
}

/* textarea{
    resize: none;
} */

body{
    background: var(--background);
}

/*MANEIRA NOVA PARA SOBREPOR ESSE TIPO DE LAYOUT */

body::before{
    content: '';
    width: 100%;
    height: 368px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    /* - sobrepoe qual pagina deve ficar acima ou abaixo com a propridade (-1,0,1) */
    background: var(--preto);

}
    /* CAEBÇALHO */
#cabecalho{
    width: 736px;
    height: 368px;
    margin: 0 auto;
}

.cabecalho__conteudo{
    width: 319px;
    padding-top: 75px;
}

.cabecalho__conteudo h1{
    font-family: var(--font-titulo);
    font-size: 36px;
    line-height: 42px;
    color: var(--branco);
}

.cabecalho__conteudo p{
    padding-top: 24px;
    font-size: 16px;
    line-height: 26px;
    color: #21c2f3;

}

/* CONTENT MAIN */

form{
    padding: 64px;
    width: 736px;
    margin: -96px auto;
    border-radius: 8px 8px 0px 0px;
    background: var(--background2);

    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset{
    border: none;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend{
color: var(--texts-titulos);
font-family: Archivo;
font-size: 24px;
font-weight: 600;
line-height: 34px;

border-bottom: 1px solid #E6E6F0;
width: 100%;

padding-bottom: 16px;
}

.input-wrapper{
    /* padding-top: 24px; */
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
color: var(--cor-secundaria);
font-size: 14px;
line-height: 24px;

margin-bottom: 8px;
}

.input-wrapper label span{
    color: var(--cor-terceiaria);
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
}

.input-wrapper label span:hover{
    color:var(--preto);
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select{
    height: 56px;

    color:  #85818d;
    line-height: 26px;

    border-radius: 8px;
    border: 1px solid #c3c3ce;
    background: var(--shapes-02, #FAFAFC);

    padding: 0 24px;
}

.input-wrapper textarea{
    height:168px;
    resize: none;
}


.input-wrapper select{
    appearance: none; /*Remoção da setinha do SELECT*/
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_65_657)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_65_657'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    background-repeat: no-repeat;
    /* background-position-x: 97%; */
    background-position: right 30px;
    background-position-y: 50%; 
}

.checkbox-wrapper{
    padding-top: 24px;
    position: relative;
}

.checkbox-wrapper label{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    
    color: var(--cor-secundaria);
    font-size: 14px;
    line-height: 24px;
}

.checkbox-wrapper input{
    position: absolute;

    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0; /*Fez com que o botao do checkbox desaparecesse com opacidade 0, porém ainda fazendo a mesma função de marcar e desmcarcar o campo*/
}

.checkbox-wrapper label::before{
    content: '';
    width: 24px;
    height: 24px;
    display: block;

    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
}

.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1862_33)'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1862_33'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    background-repeat: no-repeat;
}


.checkbox-wrapper input:focus + label::before{
    outline: 2px solid black;
}

/* DATA E HORA */

.col-3{
    padding-top: 24px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* .col-3 .input-wrapper:nth-child(1){
    width: 100%;
} */

.col-3 > div:nth-child(1){
    width: 100%;
}

/* RODAPÉ */

.rodape-button{
    width: 100%;
   background: #F0F0F4;
   padding: 40px;
   margin: auto; 
}

#rodape{
width: 736px;
margin: 95px auto;
padding: 40px 64px;
border-radius: 0px 0px 8px 8px;
background: #F0F0F4;
display: flex;
flex-direction: column;
}

#rodape input{
    width: 100%;
    height: 56px;
 
    font-family: var(--font-titulo);
    font-size: 16px;

    color: var(--branco);
    border-radius: 8px;
    border: none;
    background: #04D361;

    cursor: pointer;
}

#rodape input:hover{
    background: #06ac51;
}

input:invalid{
    border: 1px solid #FF1010;
}